In [ ]:
# processing "world_population.csv"

In [24]:
import pandas as pd

# Đọc dữ liệu từ file CSV
data = pd.read_csv('./asset/data/world_population.csv')

data.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [26]:
data = data.drop(['CCA3', 'Capital', 'World Population Percentage'], axis=1)

In [30]:
data.to_csv('world_population.csv', index=False)

In [28]:
# processing "Global_annual_mean_temp.csv"

In [38]:
data2 = pd.read_csv('./asset/data/Global_annual_population.csv')

data2.head()
data2 = data2.drop(['Unnamed: 2'], axis=1)
data2.head()
data2.to_csv('Global_annual_population.csv', index=False)